@import "tailwindcss";

@theme {
  --color-background: var(--bg);
  --color-foreground: var(--fg);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #18181b;
  --color-secondary: #52525b;
  --color-accent: #71717a;
  --color-muted: #f4f4f5;
  --color-border: #e4e4e7;
}

.dark {
  --color-background: #09090b;
  --color-foreground: #fafafa;
  --color-primary: #fafafa;
  --color-secondary: #a1a1aa;
  --color-accent: #71717a;
  --color-muted: #18181b;
  --color-border: #27272a;
}

body {
  font-family: var(--font-sans);
  background: var(--color-background);
  color: var(--color-foreground);
}

button {
  cursor: pointer !important;
}
